{% extends "base.html" %}
{% block title %}Erro no Servidor{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> Erro 500 </h1>
            <h3> O servidor se encontra atualmente com algum problema interno. Tente novamente mais tarde. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
                <i class="fa fa-home"></i>
                Início
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
